body{
    margin:auto;
    background-color:rgb(241, 206, 234)
}
a{
    text-decoration:none
}
header{
    height:60px;
    /* border:2px solid red; */
    background-color:#3b2632;
    color:white
}

#icon{
    float:left;
    margin-left:2%;
}

#loginset{
    float:right;
    margin-right:2%;
    margin-top:2%;
}
/*Search*/
#search{
    height:430px;
    /* border:2px solid black; */
    background-image: url('images/foodWallpaper.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 450px ;
}

#logo{
    height:150px;
    width:150px;
    background-color:white;
    border-radius:50%;
    margin-top:2%;
    position:absolute;
    margin-left:45%
}

#logo>span{
    font-size:80px;
    margin-top:17%;
    position:absolute;
    margin-left:26%
}

#heading{
    font-size:60px;
    margin-top:13%;
    position:absolute;
    margin-left:30%;
    color:white;
   
}

.dropdown{
    height:60px;
    width:50%;
    margin-left: 27%;
    margin-top: 20%;
    position:absolute;
    /* border:2px solid white */
}

select{
    height:60px;
    width:40%;
    font-size:15px;
    text-align:center
}

#restDrop{
    width:59%;
}

/*QuickSearch*/
#quickSearch{
    /* height:600px; */
    /* border:2px solid blue; */
    width:80%;
    margin-left:10%;
    margin-top:3%;
}

#quickHeading{
    font-size:30px;
    color:#3b2632;
    display:block;
    margin-left:2%;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#quickSubHeading{
    font-size:20px;
    color:gray;
    line-height:3;
    margin-left:2%;

}

.tileContainer{
    height:200px;
    width:30%;
    /* border:2px solid orangered; */
    display: inline-block;
    margin-left:2%;
    margin-top:2%;
    box-shadow: 10px 20px 10px gray;
}

.tileComponent1{
    width:50%;
    float:left;
}

.tileComponent1 img {
    height:100%;
    width:100%;
}
.tileComponent2{
    width:45%;
    margin-left:3%;
    margin-top:10%;
    float:left;
}
.componentHeading{
    color:#3b2632;
    font-size: 25px;
}

.componentSubHeading{
    color:gray;
    font-size: 20px;
}
footer{
    /* height:80px; */
    margin-top:3%;
    background:#3b2632;
    color:white;
    text-align:center
}

#footText{
    font-size: 30px;
}
.footDiv{
    height:70px;
    width:33%;
    display: inline-block;
    border-right: 2px solid #fff;
}
.noBorder{
    border:none
}

.socialIcon{
    height:50px;
    width:50px
}

@media screen and (max-width:1600px){
    body{
        background-color:skyblue
    }  
}

@media screen and (max-width:1400px){
    body{
        background-color:rgb(212, 173, 241)
    }  
}


@media screen and (max-width:1200px){
    body{
        background-color:rgb(209, 240, 175)
    }  
}

@media screen and (max-width:1000px){
    body{
        background-color:rgb(237, 209, 172)
    }  
    .tileContainer{
        width:45%;
    }
}

@media screen and (max-width:800px){
    body{
        background-color:rgb(238, 239, 172)
    } 
    .tileContainer{
        width:90%;
    } 
}

@media screen and (max-width:600px){
    body{
        background-color:rgb(238, 174, 183)
    }  
    .tileContainer{
        width:100%;
    }
}